.overlap-links-container {


    &.columns-1 .overlap-link {
        width: calc(100% / 1 - 20px);
    }

    &.columns-2 .overlap-link {
        width: calc(100% / 2 - 20px);
    }

    &.columns-3 .overlap-link {
        width: calc(100% / 3 - 20px);
    }

    &.columns-4 .overlap-link {
        width: calc(100% / 4 - 20px);
    }

    &.columns-5 .overlap-link {
        width: calc(100% / 5 - 20px);
    }

    @include tablet {
        flex-flow: row wrap;

        &.columns-1 .overlap-link {
            width: calc(100% / 3 - 20px);
        }

        &.columns-2 .overlap-link {
            width: calc(100% / 3 - 20px);
        }

        &.columns-3 .overlap-link {
            width: calc(100% / 3 - 20px);
        }

        &.columns-4 .overlap-link {
            width: calc(100% / 3 - 20px);
        }

        &.columns-5 .overlap-link {
            width: calc(100% / 3 - 20px);
        }

    }

    @include mobile {
        flex-flow: row wrap;

        &.columns-1 .overlap-link {
            width: calc(100% - 20px);
        }

        &.columns-2 .overlap-link {
            width: calc(100% - 20px);
        }

        &.columns-3 .overlap-link {
            width: calc(100% - 20px);
        }

        &.columns-4 .overlap-link {
            width: calc(100% - 20px);
        }

        &.columns-5 .overlap-link {
            width: calc(100% - 20px);
        }

    }
}